$primary_color: #3f455c;

h1,
h2 {
  font-family: "Abril Fatface", cursive;
  color: $primary_color;
}

.container {
  max-width: 1400px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  &__title {
    font-weight: normal;
    font-size: 2rem;
  }
  &__subtitle {
    font-family: "Lato", sans-serif, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      "Helvetica Neue", sans-serif;
    color: #888;
  }
}

.wrapper-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
  .wrapper__title {
    font-size: 1.5rem;
    color: #888;
    strong {
      margin-top: 20px;
      color: $primary_color;
      font-size: 3.5rem;
      line-height: 3rem;
      display: block;
    }
  }
  .wrapper__subtitle {
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
}

.social-link {
  padding: 5px 0;
  &__title {
    margin: 5px 0 10px;
    font-size: 0.8rem;
  }
  &__item {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 5px;
    svg {
      width: 20px;
      fill: #666;
    }
  }
}

.wrapper-about {
  .wrapper__title {
    padding-top: 50px;
    position: relative;
    &::after {
      content: "";
      width: 40px;
      height: 5px;
      background: #3f465a;
      left: 0;
      position: absolute;
      bottom: -15px;
    }
  }
  .wrapper__text-block {
    line-height: 2rem;
    font-size: 1rem;
    padding: 50px 0 20px;
  }
}
