<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./main.css" />
    <title>Charles Lennon - Software Engineer</title>
    <meta name="author" content="Charles Lennon" />
    <meta
      name="description"
      content="Creative and hyperactive, I’m always looking for new knowledge and I try
    to be as organized as possible with the flow of constant ideas. I like to
    keep up with date on the tools that influence my work and always try to
    keep the environment where I am pleasant and with a lot of information and
    Currently I work as Software Engineer and UX/UI Designer"
    />
    <meta name="robots" content="index,follow" />

    <meta property="og:site_name" content="Charles Lennon" />
    <meta property="og:type" content="website" />
    <meta
      name="keywords"
      content="software-engineer, web-design, design, user-interface, user-interface-design, user-experience-design, tdd, web-design-responsivo, web-development,front-end, front-end-development, photoshop, mysql, nodejs, angularjs, sass, scss, css, html5, jquery, linux, git, ionic, swift, ios, node, react, angular, git-flow, search-engine-optimization, seo, cascading-style-sheets, es6, ecmascript, mobx, gitlab"
    />
    <meta property="og:title" content="O que é um Software Engineer?" />
    <meta
      property="og:description"
      content="Hi, I’m Charles Lennon. A Software Engineer & UX/UI Designer"
    />
    <meta property="og:url" content="http://charleslcsantos.github.io/" />
    <meta
      property="og:image"
      content="http://charleslcsantos.github.io/img/me.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
  </head>
  <body>
    <%- yield %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="./js/main.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-55780955-1");
    </script>
    <!-- Hotjar Tracking Code for http://charleslcsantos.github.io -->
    <script>
      (function(h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function() {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 1394521, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </body>
</html>
