<%- partial("shared/header/_header") %>
<div class="container">
	<section class="wrapper about">
		<h1 class="wrapper-title">Olá! <br> Eu sou Charles.<h1>
		<p>Descrição</p>
		<div class="contact-info">
			<h2 class="wrapper-subtitle">Contact</h2>
			<div class="contact-item phone"></div>
			<div class="contact-item social-links">
				<div class="social-link github"></div>
				<div class="social-link facebook"></div>
				<div class="social-link linkedin"></div>
			</div>
		</div>
		<h2 class="wrapper-subtitle">Some Projects</h2>
	</section>
</div>