<%- partial("shared/header/_header") %>
<section class="wrapper wrapper-home">
  <div class="container">
    <h1 class="wrapper__title">Hi, I’m <strong>Charles Lennon</strong></h1>
    <h2 class="wrapper__subtitle">
      A <strong>Software Engineer</strong> <br />
      & <strong>UX/UI Designer</strong>
    </h2>
    <div class="social-link">
      <div class="social-link__item github"></div>
      <div class="social-link__item facebook"></div>
      <div class="social-link__item linkedin"></div>
    </div>
  </div>
</section>

<section id="about" class="wrapper wrapper-about">
  <div class="container">
    <h2 class="wrapper__title">About Me</h2>
    <div class="contact-item email">
      Get in touch
      <a href="mailto:charleslcsantos@gmail.com">charleslcsantos@gmail.com</a>
    </div>
  </div>
</section>
